* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}

@import "bootstrap/scss/bootstrap-grid";
.row + .row {
  margin-top: 16px;
}

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

//h1,h2--->

body {
  padding-top: 140px;
}

h1 {
  font-family: Cochin;
  font-size: 45px;
  font-weight: 500;
  line-height: 106.9%; /* 48.105px */
}

h2 {
  font-family: "Maven Pro";
  font-size: 20px;
  font-weight: 400;
}

// header--->

.header {
  background-color: #3a1215;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.tout {
  display: flex;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  padding: 22px 51px 18px 51px;
}

.end {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 23px;
}

.top {
  display: flex;
  align-items: center;
  gap: 21px;
  justify-content: end;
}

.verticaltrait {
  width: 22px;
  height: 1px;
  transform: rotate(90deg);
  border-radius: 1.1px;
  opacity: 0.4;
  background: var(--white, #fff);
}

.horizontaltrait {
  height: 1px;
  opacity: 0.2;
  background: #fff;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.gras {
  display: flex;
  gap: 30px;
  font-family: "Lucida Grande";
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 0px) and (max-width: 1400px) {
  .fin {
    p {
      font-size: 14px;
    }
  }
}

.fin {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "Lucida Grande";
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
}

// ideologie--->

.ideologie {
  display: flex;
  background-color: black;
  color: white;
  padding: 129px 50px;
}
.ideologiebackground {
  background-image: url(./../image/1/photo\ ideologie.png);
  background-size: cover;
  width: 100%;
}

.ideo {
  padding: 71px 112px 106px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.ideo h2 {
  opacity: 0.77;
  color: #d2d2d2;
}

//artisans--->

.artisans {
  display: flex;
  margin-top: 149px;
  margin-bottom: 149px;
  justify-content: center;
  gap: 24px;
}

.gauche {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.blok {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 53px;
}

.blok h1 {
  font-weight: 700;
}

.blok-text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-self: stretch;
}

.bouton {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Maven Pro";
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  border: 0.5px solid var(--white, #fff);
  padding: 10px 24px;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.artisans .bouton {
  padding: 12px 34px;
}

.bouton:hover {
  background-color: white;
  color: #400e14;
}

.bartisant {
  background-color: #400e14;
  font-family: "Maven Pro";
  font-size: 20px;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.bartisant:hover {
  color: #400e14;
  border-radius: 3px;
  background-color: white;
  border: 0.5px solid var(--darkred, #400e14);
}

.droite {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

//domaine--->

.domainebackground {
  background-image: url(./../image/1/photo\ domaine.png);
  background-size: cover;
}

.décalage {
  margin-left: 42px;
}

.image-texte-domaine {
  display: inline-flex;
  align-items: center;
  gap: 57px;
  padding: 89px 57px 89px 0px;
}

.domaine {
  background-color: black;
  color: white;
  padding: 139px 0px;
}

.dom {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 89px 57px;
}

.dom h2 {
  opacity: 0.77;
}
//actualité--->

.actualitées {
  display: flex;
  flex-direction: column;
  margin-top: 93px;
  margin-bottom: 94px;
}
.actu-text h1 {
  font-weight: 700;
  line-height: 106.9%; /* 48.105px */
}

.actu-text h2 {
  font-size: 32px;
}

.text-fleche {
  display: flex;
  width: 1116px;
  height: 32px;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.scroll-photo {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
}

.scroll-photo-content {
  gap: 89px;
  display: flex;
  animation: scroll 10s linear infinite;
  margin-top: 112px;
}

.actu-photo {
  display: flex;
  width: 235px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.actu-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nomB {
  font-family: "Maven Pro";
  font-size: 20px;
}
.prix {
  font-family: "Maven Pro";
  font-size: 18px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1944px); // 324
  }
}

//footer--->

.footer {
  background-color: #3a1215;
  color: white;
}
.footer-bloc {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 47px;
}
.bloc {
  display: flex;
  flex-wrap: wrap;
  margin-top: 49px;
  margin-bottom: 33px;
}
.footer-titre {
  opacity: 0.6;
  font-family: "Maven Pro";
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.05px;
  text-transform: uppercase;
}

.footer-texte {
  color: var(--white, #fff);
  font-family: "Maven Pro";
  font-size: 22px;
  font-weight: 600;
}

.footer-icone {
  width: 33px;
  height: 33px;
  display: inline-flex;
  height: 35.383px;
  align-items: center;
  gap: 20px;
}

.ligne {
  width: 333px;
  height: 1px;
  transform: rotate(90deg);
  border-radius: 2px;
  opacity: 0.2;
  background: var(--white, #fff);
  margin-top: 110px;
}

.newsletter {
  display: inline-flex;
  height: 40px;
  font-family: Cochin;
  font-size: 19px;
  font-weight: 500;
  justify-content: space-between;
}

.email {
  display: flex;
  width: 262px;
  height: 40px;
  padding: 12px 0px 12px 14px;
  align-items: center;
  border-radius: 3px;
  border: 1px solid var(--white, #fff);
}

.inscription {
  color: var(--black, #000);
  width: 166px;
  padding: 9px 45px;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  color: #000;
  background: var(--white, #fff);
}

.gris {
  color: #9d9d9d;
}

.logo {
  display: flex;
  align-items: center;
  gap: 169px;
  justify-content: space-between;
}

.bio {
  justify-content: flex-end;
}

.lien {
  display: flex;
  flex-wrap: wrap;
  font-family: "Maven Pro";
  font-size: 14px;
  gap: 169px;
  margin-top: 87px;
  justify-content: space-between;
  align-items: center;
  text-decoration-line: underline;
}

// DEUXIEME PAGE--->

//mockup--->

h3 {
  font-family: Cochin;
  font-size: 32px;
  font-weight: 500;
}

.mockupall {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-top: 112px;
  margin-bottom: 122px;
}

.mockup-tout {
  display: flex;
  height: 515px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.mockup-tout .bouton {
  background: var(--darkred, #400e14);
  display: flex;
  padding: 12px 34px;
  justify-content: center;
  transition: transform 0.5s;
}

.mockup-texte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.couleur {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantite {
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-self: stretch;
}

.quantite-titre {
  font-family: Cochin;
  font-size: 45px;
  font-weight: 500;
  line-height: 106.9%; /* 48.105px */
}

.plusmoins {
  display: flex;
  padding: 8px 28px;
  align-items: center;
  gap: 33px;
  width: 262px;
  border: 1px solid var(--darkred, #400e14);
}

.separations {
  width: 22px;
  height: 2px;
  transform: rotate(90deg);
  border-radius: 1.1px;
  opacity: 0.4;
  background: var(--black, #000);
}

.bas {
  display: flex;
  justify-content: space-between;
}

.bas img {
  display: flex;
}

.like {
  display: flex;
  align-self: end;
  gap: 23px;
}

.bouton-panier {
  border-radius: 3px;
  color: var(--white, #fff);
  text-align: center;
  font-family: "Maven Pro";
  font-size: 20px;
  display: flex;
  padding: 12px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--darkred, #400e14);
}

label {
  font-size: 30px;
  display: flex;
  align-items: center;
}

input[type="checkbox"]:checked + label .coeur {
  font-weight: 900;
}

input[type="checkbox"] {
  display: none;
}

.barre {
  height: 1px;
  opacity: 0.3;
  background: #3a3a3a;
  margin-bottom: 74px;
  margin-left: 50px;
  margin-right: 50px;
}

//infos--->
.légé {
  font-family: Cochin;
  font-size: 24px;
  font-weight: 500;
}
.épais {
  font-family: Cochin;
  font-size: 24px;
  font-weight: 700;
}

.gap-infos {
  display: flex;
  gap: 27px;
}

.infos {
  margin-bottom: 74px;
}
//similaires--->

.text-center {
  display: flex;
  flex-direction: column;
  background-color: #400e14;
  padding-top: 89px;
  margin-bottom: 350px;
}

.text-center .bouton-infos {
  border-radius: 3px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 12px 24px;
  gap: 24px;
  font-family: "Maven Pro";
  font-size: 22px;
}

.container-similaires {
  display: flex;
  flex-direction: column;
  gap: 92px;
}

.texte-bouton {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: center;
}

.bouton-similaires {
  display: flex;
  gap: 160;
  justify-content: space-between;
}

.bwhite {
  background: white;
  color: #400e14;
}

.bred {
  border: 0.5px solid var(--white, #fff);
  color: white;
}

.h2infos {
  max-width: 926px;
}

.justetexte {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rassemblement {
  margin-bottom: -250px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.img-fluid {
  transition: transform 0.5s;
  flex-grow: 1;
}

.img-fluid:hover {
  transform: scale(1.1);
}

.plus {
  font-family: Cochin;
  font-size: 32px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: end;
}
